@use"./_base.scss" as *;

.calculator__container {
    background-color: $color-black;
}

.screen__container {
    background-color: $color-screen;
    .screen {
        border: 20px solid $color-black;
        .screen__text {
            font-family: $font-display;
            font-size: 4rem;
            color: $color-white;
        }
    }
}

button {
    border-radius: 50px;
}

.button__modifier {
    background-color: $color-modifier;
    .button__text {
        font-family: $font-body;
        font-size: 2rem;
        color: $color-white;
    }
}
.button__function {
    background-color: $color-function;
    .button__text {
        font-family: $font-body;
        font-size: 2rem;
    }
}
.button__input {
    background-color: $color-input;
    .button__text {
        font-family: $font-body;
        font-size: 2rem;
        color: $color-white;
    }
}