@use"./_base.scss" as *;

.calculator__container {
    background-color: $color-black;
}

.screen__container {
    background-color: $color-screen;
    .screen__output {
        border: 20px solid $color-black;
        .screen__input {
            &--init{
                color: $color-grey;
                font-size: 1rem;
            }
            &--second {
                color: $color-white;
                font-size: 2rem;
            }
        }
    }
}

button:hover {
    opacity: 75%;
}

button {
    border-radius: 50px;
    cursor: pointer;
}

.button__modifier {
    background-color: $color-modifier;
    .button__text {
        font-family: $font-body;
        font-size: 2rem;
        color: $color-white;
    }
}
.button__function {
    background-color: $color-function;
    .button__text {
        font-family: $font-body;
        font-size: 2rem;
    }
}
.button__input {
    background-color: $color-input;
    .button__text {
        font-family: $font-body;
        font-size: 2rem;
        color: $color-white;
    }
}