@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&family=Work+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow: hidden;
}

@media screen and (min-width: 520px) {
  html {
    background-color: #000000;
  }
}
.calculator__container {
  background-color: #000000;
}

.screen__container {
  background-color: #4f4646a6;
}
.screen__container .screen {
  border: 20px solid #000000;
}
.screen__container .screen .screen__text {
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  color: #fafafa;
}

button {
  border-radius: 50px;
}

.button__modifier {
  background-color: #0e3d6b;
}
.button__modifier .button__text {
  font-family: "Roboto Mono", cursive;
  font-size: 2rem;
  color: #fafafa;
}

.button__function {
  background-color: #00abf5de;
}
.button__function .button__text {
  font-family: "Roboto Mono", cursive;
  font-size: 2rem;
}

.button__input {
  background-color: #b5b2b26d;
}
.button__input .button__text {
  font-family: "Roboto Mono", cursive;
  font-size: 2rem;
  color: #fafafa;
}

.calculator__container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.screen__container {
  height: 15vh;
}
.screen__container .screen {
  display: flex;
  height: 11vh;
  justify-content: right;
  align-items: flex-end;
}

.button__container {
  display: grid;
  padding: 2rem;
  height: 100%;
  grid-template-columns: 21.5% 21.5% 21.5% 21.5%;
  row-gap: 4%;
  column-gap: 4%;
  grid-template-rows: 16% 16% 16% 16% 16%;
  grid-template-areas: "c pls pcnt div" "seven eight nine mlti" "four five six minus" "one two three addi" "zer zer deci eqls";
}

.button__modifier--clear {
  grid-area: c;
}
.button__modifier--plusMinus {
  grid-area: pls;
}
.button__modifier--percent {
  grid-area: pcnt;
}

.button__function--divide {
  grid-area: div;
}
.button__function--multiply {
  grid-area: mlti;
}
.button__function--minus {
  grid-area: minus;
}
.button__function--add {
  grid-area: addi;
}
.button__function--equals {
  grid-area: eqls;
}

.button__input--zero {
  grid-area: zer;
}
.button__input--one {
  grid-area: one;
}
.button__input--two {
  grid-area: two;
}
.button__input--three {
  grid-area: three;
}
.button__input--four {
  grid-area: four;
}
.button__input--five {
  grid-area: five;
}
.button__input--six {
  grid-area: six;
}
.button__input--seven {
  grid-area: seven;
}
.button__input--eight {
  grid-area: eight;
}
.button__input--nine {
  grid-area: nine;
}
.button__input--decimal {
  grid-area: deci;
}

@media screen and (min-width: 520px) {
  .calculator__container {
    margin-top: 10%;
    margin-left: 5%;
    height: 90%;
    width: 90%;
  }
}
@media screen and (min-width: 768px) {
  .calculator__container {
    margin-top: 10%;
    margin-left: 20%;
    height: 80%;
    width: 60%;
  }
}
@media screen and (min-width: 1024px) {
  .calculator__container {
    margin-left: 30%;
    height: 70%;
    width: 40%;
  }
}
@media screen and (min-width: 1200px) {
  .calculator__container {
    margin-left: 32.5%;
    width: 35%;
  }
}